{% extends 'index' %}

{% block content %}
{% set image = entry.image.one() %}

    <p id='goBack'>Ga terug..</p>
    <div class="message-frame">
        <div class="message">
            <span class='date'>{{ entry.datum|date('d-m-Y') }}</span>
            <h2>{{ entry.title }}</h2>
            {% if image %}
                <img src='{{ image.url }}'>
            {% endif %}
            <div class='text-full'>{{ entry.inhoud }}</div>
        </div>
    </div>

{% endblock %}