:root{

position: relative;

/* ===== Colors ===== */

    /* Primary Groen */
    --green: #235716;

    /* Primary Yellow */
    --yellow: #FBC831;

    /* Neutral background */
    --neutral: #e6e6e6;


/* ===== Fonts ===== */

    /* Main font */
    font-family: century-gothic, sans-serif;
    font-weight: 400;

}

a {
    color: royalblue;
    text-decoration: none;
}

.strong, strong {
    font-weight: bold;
}

nav > .active > a {
    font-weight: bold;
    color: var(--yellow)
}

nav > li {
    list-style-type: none;
}

nav > li > a {
    color: white
}
