.group-content {
    width: 95vw;
    margin: auto;
}

.group-content > h1 {
    margin: 3vh auto;
    font-size: 26px;
    font-weight: bold;
    padding-inline-start: 15px;
}

.group {
    width: 100%;
}

.groep-item {
    background-color: white;
    width: 100%;
    margin-bottom: 3vh;
    box-shadow: rgb(172, 172, 172) 0px 0px 35px;
}

.groep {
    width: 90%;
    margin-inline: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: auto;
}

.groep > * {
    width: 90%;
    margin-bottom: 2vh;
}

.groep > span {
    font-size: 13px;
    letter-spacing: 0.2ch;
}

.groep > h2 {
    margin-top: 1vh;
    font-weight: 800;
    font-size: 22px;
    line-height: calc(22px*1.3);
}

.groep > img {
    width: 100%;
    margin: 2vh auto;
}

.groep > .leiding {
    margin-bottom: 2vh;
}



@media screen and (min-width: 762px) {

    .group-content {
        width: 73vw;
        /* display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
        grid-gap: 3vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
        position: relative; */
    }

    .group-content > h1 {
        margin: 5vh auto;
        font-size: 26px;
        font-weight: bold;
    }

    .group {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        column-gap: 4vw;
        row-gap: 3vh;
    }

    .groep-item {
        width: 100%;
        box-shadow: rgb(172, 172, 172) 0px 0px 35px;
        position: relative;
    }

    .groep {
        width: 90%;
    }


    .groep > img {
        object-fit: cover;
        width: 100%;
        height: 350px;
    }

    .groep > .text {
        height: 15vh;
    }

}