
.hero-image {
    height: auto;
    width: 100%;
    position: relative;
}

.hero-image > img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.hero-image > h1 {
    width: 100%;
    font-family: "gigalypse", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--green);
    position: absolute;
    bottom: 0;
    background-color: var(--yellow);
    text-align: center;
    padding-top: 20px;
}

.hero-banner {
    background-color: var(--yellow);
    height: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner > p {
    width: 26ch;
    color: var(--green);
    font-size: 22px;
    line-height: calc(24px * 1.4);
    height: fit-content;
}

.main-content {
    width: 95vw;
    margin: auto;
}

section {
    margin-bottom: 3vh;
}

section:nth-child(1) {
    margin-top: 3vh;
}

section > h1 {
    background-color: var(--green);
    color: white;
    padding: 1.5vh 15px
}

section > div {
    width: 100%;
    min-height: 15vh;
    height: auto;
    background-color: white;
}

.messages-list > a {
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    height: 50px;
    padding-inline-start: 15px;
}

.message {
    width: 90%;
    margin-inline: auto;
    border-bottom: 1px solid lightgrey;
    padding-top: 3vh;
    padding-bottom: 3vh;
    height: auto;
}

.message > * {
    margin-bottom: 2vh;
}

.message > span {
    font-size: 13px;
    letter-spacing: 0.2ch;
}

.message > h2 {
    margin-top: 1vh;
    font-weight: 800;
    font-size: 22px;
    line-height: calc(22px*1.3);
}

.message > img {
    width: 100%;
}

.message:nth-child(3) {
    border: none;
}

.text {
    font-size: 16px;
    line-height: calc(16px*1.4);
}

.read-more {
    text-decoration: underline;
    margin-bottom: 2vh !important;
    font-weight: bold;
}

.sponsor-list {
    min-height: 14vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sponsor {
    height: 10vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
}

.sponsor > a {
    font-weight: 800;
}

.sponsor:nth-last-child(1) {
    margin-bottom: 5vh;
}


.socials-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.medium-image {
    width: 60px;
    height: 60px;
    margin: auto;
}

.medium-image > img {
    margin: auto;
    width: 90%;
}

.medium {
    margin: 1rem;
    text-align: center;
}

.calendar {
    height: 50vh;
    background-color: white;
}

.sponsors, .socials, .calendar, .messages {
    box-shadow: rgb(172, 172, 172) 0px 0px 35px;
}



@media screen and (min-width: 762px) {

    .hero-image {
        height: 70vh;
        width: 100%;
    }

    .hero-image > img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        object-position: 0% 13%;
    }

    .hero-image > h1 {
        width: fit-content;
        bottom: 3vh;
        left: 3vh;
        padding: 1rem;
        font-size: 52px;
    }

    .hero-banner {
        background-color: white;
        height: 7vh;
    }

    .hero-banner > p {
        width: 100%;
        font-weight: 800;
    }


    .main-content {
        width: 73vw;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
        grid-gap: 3vw;
        margin: 10vh auto;
        padding-right: 3vw;
        position: relative;
    }

    .messages {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 0;
    }

    section:nth-child(1) {
        margin-top: 0;
    }

    .sidebar-container {
        grid-column: 2;
        grid-row: 1;
        position: relative;
    }

    .sidebar {
        max-height: 100%;
        height: fit-content;
        top: 120px;
        position: sticky;
    }

    .sponsors {
        grid-column: 1/3;
        grid-row: 2;
    }

    .sponsor-list {
        background-color: var(--yellow);
        min-height: 35vh;
        width: calc(100% - 70px);
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        padding-inline: 35px;
    }

    .sponsor {
        border: none;
        height: 100px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        font-weight: 700;
    }
    .sponsor:hover {
        box-shadow: 0 0 15px black;
        transition: all 0.3s ease;
    }

    .sponsor:nth-last-child(1) {
        margin: auto;
    }

}