<footer>
    <strong>&copy; Jokido - 2023</strong>
    <p>Website ontworpen door Stef Verniers</p>
    
    <ul>
        <li>Kruisstraat 1A, 9570 Deftinge</li>
        <li>jokido@jbjokido.be</li>
        <li>0491/98.70.03 | 0479/12.48.62</li>
    </ul>
</footer>